autostart {
    workspace "firework" {
        column {
            width {
                proportion 0.33333
            }

            window app-id="kitty" {
                command "terminal" "-e" "fastfetch" "--dynamic-interval" "500" "--hide-cursor" "true"
                height {
                    fixed 284
                }
            }

            window app-id="kitty" {
                command "terminal" "-e" "tty-clock" "-sc"
                height {
                    fixed 207
                }
            }

            window app-id="kitty" {
                command "terminal" "-e" "cava" "-p" "~/.config/cava/themes/noctalia"
                height {
                    fixed 392
                }
            }

            window app-id="kitty" {
                command "terminal" "-e" "cmatrix"
                height {
                    fixed 172
                }
            }
        }

        column {
            width {
                proportion 0.66667
            }

            window app-id="kitty" {
                command "terminal" "-e" "btop"
                height {
                    fixed 661
                }
            }

            window app-id="kitty" {
                command "terminal" "-e" "asciiquarium"
                height {
                    fixed 404
                }
            }
        }
    }
}
